.titulo {
    color: rgb(63, 178, 255);
    text-align: center;
    font-family: 'Sour Gummy', serif;
    margin: 8px;
}

.li {
    margin: 8px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}

.input {
    margin: auto;
    display: block;
    border-radius: 5px;
}

.div{
    border: black solid 2px;
    width: 420px;
    margin: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}